#main-container {
  margin-top: 1rem;
}
.ui.left.floated.raised.segment {
  min-width: 340px !important;
}
@media screen and (min-width: 768px) {
  #main-container {
    padding-top: 3rem !important;
  }
  .ui.left.floated.raised.segment {
    min-width: 350px !important;
    min-height: 440px !important;
  }
}
.wi{
  font-size: 30px !important;
}